body {
  margin: 0rem;
  padding: 0rem;
  background-color: rgb(250, 240, 202);
  color: rgb(13, 59, 102);
}

.timer-heading {
  font-size: 2rem;
  text-align: center;
  color: rgb(249, 87, 56);
}

.timer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.startBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: rgb(244, 211, 94);
}
.resetBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: rgb(244, 211, 94);
}
